.persondescription dl
{
    display: inline-block;
    margin: 0;
}
.persondescription dt
{
    float: left;
    clear: left;
}
.persondescription dd
{
    margin: 0;
    margin-left: 5px;
    float: left;
}
dt
{
    font-style: italic;
}