.persondescription dl
{
    display: inline-block;
    margin: 0;
}
.persondescription dt
{
    font-weight: 1000;
    float: left;
    clear: left;
}
.persondescription dd
{
    margin: 0;
    float: left;
}
